<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> <a href =<%= bookmark.url %>> <%= bookmark.title %> </a></li>
  <% end %>
</ul>

<form action="/bookmarks/create" method="post">
  <input type="text" name="url">
  <input type="text" name="title">
  <input type="submit" name="Add Bookmark">
</form>

<form action = "/bookmarks/delete" method = "post">
<label for delete> Delete: </label>
  <input type = "text" id = 'delete' name = "deletion_title">
  <input type = "submit" name = "Delete Bookmark">
</form>